@{
    var parents = ViewBag.Parents as IEnumerable<szzx.web.Entity.VideoClass>;
}
@model szzx.web.Entity.VideoClass
<form id="editForm" action="@Url.Action("AddOrEdit")" method="post" class="form-horizontal">
    <input type="hidden" name="Id" id="id" value="@(Model?.Id)" />
    <div class="form-body">
        <div class="alert alert-danger" style="display:none">
            <button class="close" data-close="alert"></button>
            <span></span>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">分类名称</label>
            <div class="col-md-4">
                <input type="text" name="ClassName" id="className" class="form-control" placeholder="分类名称" value="@(Model?.ClassName)">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">分类等级</label>
            <div class="col-md-4">
                <select name="ClassLevel" id="classLevel" class="form-control">
                    <option value="1">一级</option>
                    <option value="2">二级</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">父级分类</label>
            <div class="col-md-4">
                <select name="ParentId" id="parentId" class="form-control">
                    @foreach (var p in parents)
                    {
                        <option value="@p.Id" @(Model.ParentId == p.Id ? "selected" : "")>@p.ClassName</option>
                    }
                </select>
            </div>
        </div>

    </div>
</form>

<script type="text/javascript">
    $(function () {
        $('#classLevel').val('@Model.ClassLevel');

        function getParents() {
            var classLevel = $('#classLevel').val();

            $main.ajaxGet({
                url: '@Url.Action("AjaxGetParents")',
                data: {
                    level: classLevel
                },
                success: function (data) {
                    $('#parentId').html(data);

                }
            });
        }

        $('#classLevel').change(function () {
            getParents();
        });
    })
</script>